<html><head>
<title>Occurences of ${keyManager.key}</title>
<meta http-equiv=Content-Type content="text/html; charset=${encoding}">
</head>
<body style='{font-family:Verdana,Arial; font-size:10pt; }'>

<dl>
<dt><b>${keyManager.key}</b> occurences:
#foreach ($m in $keyManager.pairs)
<dd>${m}</dd>
#end
</dl>

<br/>
<br/>
<p style="border-top:1px solid #ccc; padding: 20px;">
Copyright 2010-2014 Guoqiang Chen. All rights reserved. <br/>
<a href="http://subchen.github.io/" target="_blank">http://subchen.github.io/</a> &nbsp; subchen@gmail.com
</p>

</body></html>
